html {
    font-size: 40px;
    background-size: 100% 100%;
    background: url('/redBackground.png') no-repeat center center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #dadbd9;
}



#navigateButton {
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #dadbd9;
    margin-top: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/Github Image.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}


.flex-container {
    display: flex;
}

.text-div {
    padding: 10px;
    margin-top: 150px;
    margin-left: 60px;
}


#voornaam {
    margin-right: 500px;
}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    #voornaam { /* TEST THIS FOR PHONES BEFORE FINISHING */
        margin-right: 0;
        margin-bottom: 10px;
    }
}


