html {
    font-size: 40px;
    background-size: 100% 100%;
    background: url('/redBackground.png') no-repeat center center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #dadbd9;
}

.flex-container {
    display: flex;
}

.text-div {
    padding: 10px;
    margin-top: 150px;
    margin-left: 60px;
}


#voornaam {
    margin-right: 500px;
}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    #voornaam { /* TEST THIS FOR PHONES BEFORE FINISHING */
        margin-right: 0;
        margin-bottom: 10px;
    }
}