body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 200px;
    background: url('Images/redBackground.png') center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.name {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.5);
    font-family: Bebas Neue, Arial, serif;
    color: #ffffe0;
    font-size: 60px;
}

.portrait {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.portrait img {
    max-height: 500px;
}
