body{
    margin: 0;
}


.header{
    position: relative;
    padding: 1em;
    top: 0;
    left: 0;
    max-height: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #F5F5F5;
    background-color: rgb(0, 0, 0,0.5);
    text-align: center;
    vertical-align: middle;
    font-size: clamp(1rem, 2vw, 2em);
}
